/* fonts */
@font-face {
    font-family: MyFont;
    src: url("../fonts/Normal.woff2");
    font-weight: 300;
}

@font-face {
    font-family: MyFont;
    src: url("../fonts/Banner.woff2");
    font-weight: 500;
}

@font-face {
    font-family: MyFont;
    src: url("../fonts/Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: MyFont;
    src: url("../fonts/VeryBold.woff2");
    font-weight: 700;
}

/* CSS reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: MyFont;
    font-weight: 500;
}

/* Global */

:root{
    /* Colors */
    --colorWhite: rgb(255, 255, 255);
    --colorViolet: #715de2;
    --colorVioletLite: rgb(178, 129, 254);
    --colorVioletDarck: #5140b1;
    --colorBlack: rgb(16, 16, 16);
    --colorForBox: #191919;
    --colorVioletLightGradientLeftRight: linear-gradient(145deg, #ffa7a7, #a30cb5, #00173a);
    --colorPinkGradientTopBottom: linear-gradient(0deg, #f99ca8, #e276ab 56.52%, #c94daf);
    --colorVioletGradientLeftRight: linear-gradient(90deg, rgba(178,129,254, 1) 0%, rgba(113,93,226,1) 100%);
    --colorVioletGradientRightLeft: linear-gradient(90deg, #6f5bf0 0%, rgba(178,129,254, 1) 100%);
    --colorVioletGradientTopBottom: linear-gradient(180deg, rgba(25,25,25,1) 40%, rgba(81,64,177, 0.3) 100%);
    --colorBlueGradientLeftRight: linear-gradient(125deg, #fff -2.09%, #62a4f1 19.09%, #7f4bee 59.1%, #fff 89.18%, #157ffb 114.49%);

    /* Fonts */
    --sizeLink: 18px;
    color: gre;
    /* Borders */
    --borderRadiusMain: 14px;
    /* Shadows */
}

body{
    overflow-x: hidden;
    background-color: var(--colorBlack);
}

.section{
    width: 100%;
    padding: 100px 0px;
}

.container{
    width: 100%;
    padding: 0 10%;
}

.link{
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    transition: all .2s linear;
}

.link:hover{
    color: var(--colorVioletLite);
    transition: all .2s linear;
}

.violet{
    color: var(--colorViolet);
}

.violet-lite{
    color: var(--colorVioletLite);
}

.violet-darck{
    color: var(--colorVioletDarck);
}

.signature{
    color: gray;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.gadient-pink{
    background-image: var(--colorPinkGradientTopBottom);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-violet{
    background-image: var(--colorVioletLightGradientLeftRight);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-blue{
    background-image: var(--colorBlueGradientLeftRight);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


p{
    font-size: 20px;
}

h1, h2, h3, h4, p, span, div, a{
    color: var(--colorWhite);
}

h1{
    font-size: 48px;
    text-align: center;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 40px;
}

.btn{
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid var(--colorViolet);
    cursor: pointer;
    width: fit-content;
}

.btn:hover{
    /* background: var(--colorVioletGradientLeftRight); */
    /* transition: .2s linear; */
}

/* header */
.header__section{
    padding: 0;
    padding-top: 30px;
}

.header__container{
    position: fixed;
    
}

.header__container_block{
    border-top: 1px solid var(--colorViolet); 
    border-radius: 100px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(5px);
}

.header__container_block > nav {
    display: flex;
    gap: 60px;
}

.header__logo{
    width: 47px;
    height: 45px;
}

.logo_wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    user-select: none;
}


/* banner */
.TopGlowForBanner{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url('../img/TopGlow.webp');
    top: -200px;
    pointer-events: none;
}

.banner__section{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 0;
}

.banner__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner_text{
    font-size: 24px;
    color: grey;
    margin-top: 10px;
}

.banner__wrap-neuronet{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 1rem;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.wrap-neuronet_box{
    background-color: var(--colorForBox);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    border-radius: var(--borderRadiusMain);
}

.wrap-neuronet_box img{
    width: 37px;
    width: 37px;
}

/* opportunities */
.opportunities__container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(16, minmax(0, 6.25rem));
    grid-template-rows: repeat(16, minmax(0, 4rem));
}

.opportunities_box{
    display: flex;
    flex-direction: column;
    background-color: var(--colorForBox);
    border-radius: 30px;
    padding: 24px;
    border: 1px solid rgba(128, 128, 128, 0.6);
}

.opportunities_box--1{
    grid-area: 1 / 1 / 7 / 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--colorVioletDarck);
    background: var(--colorVioletGradientTopBottom);
}

.opportunities_box--2{
    grid-area: 7 / 1 / 11 / 6;


    display: flex;
    align-items: center;
    gap: 20px;
}

.opportunities_box--3{
    grid-area: 1 / 6 / 11 / 13;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.opportunities_box--4{
    grid-area: 1 / 13 / 8 / 17;
    display: grid;
    grid-template-rows: auto auto 1fr;
    justify-items: center;
    align-items: end;
    border: 1px solid var(--colorVioletDarck);
    background-image: url('../img/phone.png');
    background-size: 180%;
    background-position: center top;
    position: relative;
}

.opportunities_box--5{
    grid-area: 8 / 13 / 11 / 17;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/testGPT.png');
    background-position: center;
    background-size: cover;
}

.opportunities_box--6{
    grid-area: 11 / 1 / 16 / 7;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url("../img/soundBanner.png");
    background-position: center;
    background-size: cover;
    position: relative;
    border: 1px solid var(--colorVioletDarck);
}

.opportunities_box--6::after{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.opportunities_box--7{
    grid-area: 11 / 7 / 16 / 17;
    background-image: url('../img/DuckCompany.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.opportunities_box_text{
    margin: 25px 0;
    font-weight: 300;
}

.wrap_for_files{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box_for_files{
    background-color: var(--colorBlack);
    border-radius: var(--borderRadiusMain);
    border: 1px solid rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.box_for_files img{
    width: 25px;
    height: 25px; 
}

.box_for_files__img-2{
    width: 35px !important;
    height: 35px !important;
}

.opportunities_box--3_img{
    width: 100%;
    height: 100%;
    background-image: url('../img/neuronet-img.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    pointer-events: none;
    position: relative;
}

.opportunities_box--3_img::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    border-radius: 16px;    
}

.opportunities_box--7::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    border-radius: 30px;  
}

.opportunities_box--7 * {
    z-index: 10;
}

.opportunities_box--7 p{
    font-size: 18px;
    text-shadow: 1px 1px 20px black;
}

.AiShedevrumBtn{
    cursor: pointer;
    color: green;
}


.opportunities_box--7 h3{
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.opportunities_box--4_text{
    margin-top: 20px;
    text-align: center;
}

.opportunities_box--4::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: var(--colorVioletGradientTopBottom);
    opacity: 0.7;
    border-radius: 30px;
    z-index: 1;
}

.opportunities_box--4 * {
    z-index: 2;
}

.opportunities_box--6 h3{
    text-align: center;
    z-index: 5;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

/* using */
.using__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 15%;
    justify-items: end;
}

.using__wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.using__wrap_btn{
    padding: 14px 100px;
    /* padding-left: 140px; */
    font-size: 22px;
    border: 1px solid var(--colorVioletDarck);
    position: relative;
    overflow: hidden;
}

.using__wrap_btn::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 56px;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    background-image: url('../img/neuronet/chatGPT-3_5.svg');
}

.using__wrap_btn::before{
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--colorVioletGradientRightLeft);
    z-index: -1;
    border-radius: 50px;
    transition: .7s ease-in-out;
}

.using__wrap_btn:hover::before{
    width: 100%;
}

.using__img{
    mix-blend-mode: lighten;
    width: 350px;
    pointer-events: none;
}

/* WWimage */
.WWimage__container{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0 20%;
}

.WWimage__box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.WWimage__box_text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.WWimage__box_text--reverse{
    align-items: flex-end
}

.WWimage__box_text--reverse h4{
    text-align: end;
}

.WWimage__link{
    color: #7b7b7b;
    width: fit-content;
    font-weight: 700;
}

.WWimage_image{
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--colorViolet);
    pointer-events: none;
}

/* footer */
.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.footer__container p{
    max-width: 800px;
    text-align: center;
    font-size: 28px;
}

.footer__container > span{
    color: #7b7b7b;
    font-size: 18px;
    text-align: center;
}

.footer__img{
    mix-blend-mode: lighten;
    max-width: 600px;
    pointer-events: none;
    position: relative;
}

.footer__img::after{
    content: '';
    position: absolute;
    background-color: red;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}